.wholecont {
  display: flex;
  height: calc(100vh - 50px); /* Adjust based on the height of your navbar */
}

#fileTree {
  width: 250px;
  background-color: #282828;
  color: #ccc;
  overflow-y: auto;
  padding: 10px;
  border-right: 1px solid #333;
}

#editor-container {
  position: relative;
  display: flex;
  flex-direction: row; /* Change to row to align line numbers and editor */
  flex-grow: 1;
  top: 20px;
}

#lineNumbers {
  width: 40px; /* Fixed width for line numbers */
  font-family: 'Share Tech Mono', sans-serif;
  background-color: #1e1e1e;
  padding: 10px;
  text-align: right;
  user-select: none;
  color: #888;
  overflow: hidden; /* Prevent scrolling */
  line-height: 22px;
}

#editor {
  flex-grow: 1;
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
  border: none;
  outline: none;
  resize: none;
  overflow: auto;
  background-color: #1e1e1e;
  color: #f8f8f2;
  caret-color: #f8f8f2;
  line-height: 22px;
  white-space: pre;
  tab-size: 4;
}

.indent-line {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.filetreopt {
  display: flex;
  width: 100vw; /* Use viewport width to ignore padding */
  margin: 0;
  background-color: #363636;
  transition: ease, 0.3s;
}

.filetreopt:hover {
  display: flex;
  width: 100vw; /* Use viewport width to ignore padding */
  margin: 0;
  background-color: #555555;
}

.filetreopt a {
  text-decoration: none;
  color: white;
}
