body {
  font-family: Poppins, sans-serif;
  margin: 0;
  background-color: rgb(39, 39, 39);
  padding: 0;
  display: flex;
  height: 100vh;
  overflow-y: scroll;
  margin-top: 50px;
  flex-direction: column;
}

.navbar {
  z-index: 1000000;
  background-color: rgb(22, 22, 22);
  display: flex;
  align-items: center;
  height: 50px;
  width: 100vw;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar a {
  user-select: none;
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

.draggable {
  -webkit-app-region: drag;
  display: inline-block;
}

.draggable img {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease;
}

.draggable:hover img {
  transform: scale(1.1);
}

.version {
  user-select: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(97, 97, 97);
}

.navigbut {
  user-select: none;
  position: absolute;
  right: 5%;
  transform: translateX(-5%);
}

.navigbut svg {
  user-select: none;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  color: rgb(133, 133, 133);
  transition: ease, 0.3s;
}

.navigbut svg:hover {
  color: white;
}

.close {
  color: rgb(133, 133, 133);
  transition: ease, 0.3s;
}

.close:hover {
  color: rgb(255, 0, 0) !important;
}

.options {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.options label {
  user-select: none;
  color: rgb(255, 255, 255);
  transition: ease, 0.3s;
}

.options label:hover {
  color: rgb(96, 96, 255);
}

.options p {
  user-select: none;
  color: rgb(255, 255, 255);
}

.whatsnew {
  user-select: none;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns content to the top */
  background-color: rgb(28, 28, 28);
  width: 300px;
  height: 600px;
  color: white;
  text-align: center;
}

.learnmore {
  margin-top: auto; /* Pushes the element to the bottom */
  color: rgb(105, 105, 105);
  transition: ease, 0.3s;
}

.learnmore:hover {
  color: white;
}
